body{
    text-align: center;
    margin: 0px;
    padding: 0px;

    /*FUENTES*/ 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    
}

#header{
   height: 120px; 
   width: 100%;
   border-bottom: 1px solid #ccc;
   background: white;
   border-top: 4px solid rgba(5, 223, 23, 0.568);

}

.center{
    width: 75%;
    margin: 0px auto;
}

.clearfix{
    clear: both;
    float: none;
}

#logo{
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 30px;
}

#logo img{
    display: block;
    float:left;
    height: 60px;
    margin-top: -9px;
    margin-right: 7px;
    animation: latir infinite 30s linear;
}

/* keyframes para animacion logo*/
@keyframes latir{
    0%{
        transform: scale(1, 1);
    } 
 
    50%{
        transform: scale(1.03, 1.03);
    }
 
    55%{
        transform: scale(0.97, 0.97);
    }
 
    100%{
        transform: scale(1, 1);
    }
}

#brand{
    display: block;
    margin: 0px;
    float: left;

}

#menu{
    width: 70%;
    font-size: 18px;
    float: right;
}

#menu ul{
    line-height: 70px;
    width: 60%;
    float: right;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 44px;
    margin-left: 10px;
    margin-right: 10px;

}

#menu a{
    text-decoration: none;
    color:#444;
    transition: 300ms all;
}

#menu a:hover,
#menu .active{
    color: rgb(108, 212, 108);
}

.yeargreen{
    background: green !important;
    color: white !important;
    padding: 10px !important;
    width: 112px !important;
    text-align: center !important;
}

.yearred{
    background: red !important;
    color: white !important;
    padding: 10px !important;
    width: 112px !important;
    text-align: center !important;
}


#slider{
    width: 100%;
    height: 350px;
    /*line-height: 320px;*/
    color: white;
    text-shadow: 0px 0px 5px #444;
    
    /*DEGRADADO CSS*/
    background: rgb(9,140,36);
    background: radial-gradient(circle, rgba(9,140,36,0.742734593837535) 77%, rgba(87,164,63,1) 100%);
}

#slider h1{
    margin: 0px;
    padding: 0px;
    padding-top: 130px;
    text-align: center;
}

.btn-white{
    display: block;
    background: white;
    color: #444;
    padding: 18px;
    width: 95px;
    height: 30px;
    margin: 0px auto;
    margin-top: 25px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    border-radius: 6px;
    transition: 300ms all;
}

.btn-white:hover{
    background-color: rgb(50, 224, 44);
    color: white;
}

#slider.slider-small{
    height: 150px;
}

#slider.slider-small h1{
    margin: 0px;
    padding: 0px;
    padding-top: 45px;
}

#content{
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 20px;
}

#content h2{
    color:rgb(54, 54, 54);
    
}

#sidebar{
    width: 25%;
    float: left;
    
}

.sidebar-item{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3{
   text-transform: uppercase; 
   font-size: 14px;
   margin: 0px;
   padding-bottom: 10px;
   margin-bottom: 10px;
   border-bottom: 2px solid rgb(202, 198, 198);
}

.sidebar-item .btn{
    margin-top: 10px;
    margin: 0px auto;
}

.btn{
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    max-width: 60%;
    transition: 300ms all;
    border: none;
    cursor: pointer;

}

.btn-success{
    background-color: green;
}

.btn-warning{
    background-color: rgb(200, 100, 18);
    color: white !important;
    text-align: center;
    max-width: 80px;
}

.btn-warning:hover{
    background-color: rgb(232, 12, 195);
}

.btn-danger{
    background-color: red;
    color: white !important;
    text-align: center;
    max-width: 80px;
}

.btn-danger:hover{
    background-color: rgba(8, 4, 27, 0.996);
}

.btn-success:hover{
    background-color: rgb(50, 224, 44);
}

.image-small{
    width: 120px;
}

.mid-form{
    width: 50%;
    margin: 0px auto;
}

.mid-form label{
    display: block;
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;
}

input[type="text"],
input[type="file"],
textarea{
    width: 100%;
    min-height: 30px;
    border: 2px solid rgb(202, 198, 198);
    margin-bottom: 12px;
    padding: 3px;
    transition: 300ms all;
}

input[type="text"]:focus,
input[type="file"]:focus,
textarea:focus{
box-shadow: 0px 0px 5px rgb(116, 113, 113) inset;
}

textarea{
    width: 100%;
    height: 150px;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 270px;
}

.radiobuttons{
margin-top: 20px;
float: left;
margin-bottom: 20px;
}



#footer{
    background-color: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 67px;
    color:rgb(54, 54, 54)
}

#footer p{
    margin: 0px;
    padding: 0px;
}

.article-item{
    width: 100%;
    border-bottom: 3px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #eee
}

.article-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.article-item h2{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px ;
    
}

.article-item .date{
    display: block;
    width: 100%;
    color:rgb(119, 118, 118);
}

.article-item a{
    display: block;
    width: 100%;
    color: #444;
    text-decoration: none;
    margin-top: 50px;
}

.article-item a:hover{
   text-decoration: underline;
}

.subheader{
    font-size: 35px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.article-detail .image-wrap{
  float: none;
  width: 100%;
  height: 350px;
}

.article-detail .image-wrap img{
    width: 100%;
    height: auto;
}

.article-detail .subheader{
    margin-top: 18px;
    margin-bottom: 5px ;
    border: none;
}

#comments{
    margin-top: 40px;
    font-size: 19px;
}

/*RESPONSIVE*/
/*Desde el ancho 0 hasta 1347px de pantalla*/
@media (max-width: 1347px){
/*Se ejecuta este estilo*/
.center{
    width: 85%;
}
}

@media (max-width: 1175px){
   .center{
       width: 95%;
   } 

   #menu ul{
       width: auto;
   }
}

@media (max-width: 866px){
   #logo{
       float: none;
       display: inline-flex;
       width: 240px;
       margin: 0px auto;
       margin-top: 17px;
       
   }

   #menu,
   #menu ul{
       clear: both;
       float: none;
       margin: auto;
       line-height: 40px;
       
   }

   #brand{
       float: none;
   }

   #content{
      float: none;
      width: 100%; 
   }

   #sidebar{
       float: none;
       width: 60%;
       margin: 0px auto;
       margin-bottom: 70px;
   }

   #slider h1{
       padding-top: 105px;
       font-size: 29px;
   }

   .mid-form{
       width: 70%;
   }
}

@media (max-width: 699px){
     #header{
         min-height: 130px;
         overflow: hidden;
         
     }

     #menu,
     #menu ul{
         line-height: 40px;
     }

     #menu ul li{
         margin-left: 4px;
         margin-right: 4px;
     }

     #slider{
         height: 170px;
     }

     #slider h1{
        font-size: 19px;
        padding-top: 20px;
     }

     #slider .btn-white{
         margin-top: 20px;
     }

     #slider.slider-small{
         height: 100px;
     }

     #slider.slider-small h1{
         padding-top: 35px;
     }
}

@media (max-width: 601px){
     #menu,
     #menu ul{
         font-size: 12px;
     }

     .subheader{
         font-size: 28px;
     }

     .article-item h2{
     font-size: 20px;
}
}